@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?89uk9m');
  src:  url('fonts/icomoon.eot?89uk9m#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?89uk9m') format('truetype'),
    url('fonts/icomoon.woff?89uk9m') format('woff'),
    url('fonts/icomoon.svg?89uk9m#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;

  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-book:before {
  content: "\e91f";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-power:before {
  content: "\e9b5";
}
